$bgcolor: #f9f9f7;
h1,
p,
strong {
	color: #444444;
}
.header__logo {
	background-color: $bgcolor;
	background: $bgcolor;
	img {
		padding-top: 40px;
		padding-bottom: 30px;
	}
}
.header__payment-processed {
	padding-top: 10px;
	h1 {
		color: #444444;
		font-size: 26px;
		font-weight: 700;
	}
}
.header__details {
	p {
		padding-left: 20px !important;
		padding-right: 50px !important;
	}
}
