$bgcolor: #f9f9f7;
h1,
p,
strong {
	color: #444444;
}
.header__logo {
	background-color: $bgcolor;
	background: $bgcolor;
	img {
		padding-top: 40px;
		padding-bottom: 10px;
	}
}
.money-sign {
	img {
		padding-left: 20px;
	}
}
.header__payment-processed {
	padding-top: 10px;
	h1 {
		color: #444444;
		font-size: 26px;
		font-weight: 700;
	}
}
.header__details {
	p {
		padding-left: 40px !important;
	}
}
.transaction {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.transaction__details {
	p {
		hyphens: none;
	}
}
.transaction2 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.transaction2__details {
	p {
		hyphens: none;
	}
}
.manage-account {
	padding-left: 20px !important;
	padding-right: 20px !important;
	p {
		hyphens: none;
	}
	a {
		color: #444444;
		text-decoration: underline;
		hyphens: none;
	}
}

.footer__social {
	background-color: #4b4b4b;
	background: #4b4b4b;
	padding-left: 8px !important;
	padding-right: 8px !important;
	display: inline-block;
	img {
		padding-top: 60px;
		padding-bottom: 40px;
		display: inline-block;
	}
}
.footer__address {
	background-color: #4b4b4b;
	background: #4b4b4b;
	p {
		text-align: center;
		color: #9f9f9f;
		padding-bottom: 40px;
		font-size: 12px;
	}
}
.footer__logo {
	background-color: #4b4b4b;
	background: #4b4b4b;
	img {
		color: #9f9f9f;
		padding-bottom: 60px;
	}
}
.footer__terms-and-conditions {
	padding-top: 40px;

	p {
		color: #9f9f9f;
		padding-bottom: 30px;
		text-align: center;
		font-size: 12px;
	}
	a {
		color: #9f9f9f;
		text-decoration: underline;
	}
}
