<container class="footer">
	<rows>
		<columns class="footer__social">
			<center>
				<a href="https://facebook.com/parkmobile" target="_blank"
					><img
						src="https://ci3.googleusercontent.com/proxy/EzZpnOrGrh0wSb34z2xtt3i_4SAUjAD5BKBOPQGsehJlmgTKYVRDjyNKY1s0Xc3HYzFVZ-G5bvtmZFj3w50f=s0-d-e1-ft#http://us.parkmobile.com/images/facebook.jpg"
						alt="facebook"
				/></a>
				<a href="https://twitter.com/parkmobile" target="_blank"
					><img
						src="https://ci3.googleusercontent.com/proxy/wuLc1ubKU2n3l5pebsZW0azRxSz0g33FZtNGWNLrzuYDONSXgalQ4YM_gtIiY9oPC9oHMirqX74LZum6ZFw=s0-d-e1-ft#http://us.parkmobile.com/images/twitter.jpg"
						alt="twitter"
				/></a>
				<a
					href="https://www.linkedin.com/company/parkmobile-usa-inc-"
					target="_blank"
					><img
						src="https://ci5.googleusercontent.com/proxy/VpE_AWF3sLnUjEO37vpHHOapuGQuuHjZ_vbkYyyWvahRhkx3xenRaGhoPnaof1S2RxAlKJ85nOFU=s0-d-e1-ft#http://us.parkmobile.com/images/in.jpg"
						alt="linkedin"
				/></a>
				<a href="https://instagram.com/parkmobilellc" target="_blank"
					><img
						src="https://ci3.googleusercontent.com/proxy/mTZDK7X_yph_fpCPgqz6MEJFVGLRUMv09OnPHHRHqXOm8kHUdRrDhs-w3LIRu2C-AYGNkH6Ax3ECe4X9=s0-d-e1-ft#http://us.parkmobile.com/images/insta.jpg"
						alt="instagram"
				/></a>
			</center>
		</columns>
	</rows>
</container>
<container>
	<rows class="footer__address">
		<columns class="footer__address">
			<p>Parkmobile, LLC • 1100 Spring Street NW, Suite 200, Atlanta, GA 30309</p>
		</columns>
	</rows>
</container>
<container>
	<rows class="footer__logo">
		<columns class="footer__logo">
			<a href="https://parkmobile.us/" target="_blank"
				><center>
					<img
						src="https://ci4.googleusercontent.com/proxy/q_B2YjHYRaz_P6BQ4GjYkn4VJQsu9CAJn-KQ1I973nMXDK9-amk-cS53BRQJBpVetw1aiC3sC5xkY1pmnLVrIt4T=s0-d-e1-ft#http://us.parkmobile.com/images/footer_logo.jpg"
						alt="parkmobile mini logo"
					/></center
			></a>
		</columns>
	</rows>
</container>
<container>
	<rows>
		<columns class="footer__terms-and-conditions">
			<p>
				The contents and elements of this email are protected by the US and
				international copyright and trademark laws. Nothing contained in this email
				modifies, supplements, or replaces, in any way, the Terms of Use for the app
				or any provision therein. With respect to the app, nothing in this email
				creates a warranty or representation about the performance, functionality,
				or other matters. Our Terms of Use are found on our website at
				<a href="http://us.parkmobile.com/terms-use" target="_blank"
					>http://us.parkmobile.com/terms-use</a
				>.<br /><br />

				To stop receiving these types of email messages,
				<a
					href="https://parkmobile.us/phonixx/ClientPages/Unsubscribe.aspx?eyJFbWFpbCI6InIuYWxsYW52aWxhQGdtYWlsLmNvbSIsIkFjdGl2YXRpb25NZXNzYWdlT25seSI6dHJ1ZSwiTWVzc2FnZVR5cGUiOjIxMn0%3d"
					target="_blank"
					>click this link</a
				>.<br />
				To stop receiving ALL notification emails sent by Parkmobile,
				<a
					href="https://parkmobile.us/phonixx/ClientPages/Unsubscribe.aspx?eyJFbWFpbCI6InIuYWxsYW52aWxhQGdtYWlsLmNvbSIsIkFjdGl2YXRpb25NZXNzYWdlT25seSI6ZmFsc2UsIk1lc3NhZ2VUeXBlIjowfQ%3d%3d"
					target="_blank"
					>click this link</a
				>.
			</p>
		</columns>
	</rows>
</container>
