<container>
	<rows class="footer__social">
		<columns>
			<center>
				<a href="https://facebook.com/parkmobile" target="_blank"
					><img
						src="https://ci3.googleusercontent.com/proxy/EzZpnOrGrh0wSb34z2xtt3i_4SAUjAD5BKBOPQGsehJlmgTKYVRDjyNKY1s0Xc3HYzFVZ-G5bvtmZFj3w50f=s0-d-e1-ft#http://us.parkmobile.com/images/facebook.jpg"
						alt="facebook"
				/></a>
				<a href="https://twitter.com/parkmobile" target="_blank"
					><img
						src="https://ci3.googleusercontent.com/proxy/wuLc1ubKU2n3l5pebsZW0azRxSz0g33FZtNGWNLrzuYDONSXgalQ4YM_gtIiY9oPC9oHMirqX74LZum6ZFw=s0-d-e1-ft#http://us.parkmobile.com/images/twitter.jpg"
						alt="twitter"
				/></a>
				<a
					href="https://www.linkedin.com/company/parkmobile-usa-inc-"
					target="_blank"
					><img
						src="https://ci5.googleusercontent.com/proxy/VpE_AWF3sLnUjEO37vpHHOapuGQuuHjZ_vbkYyyWvahRhkx3xenRaGhoPnaof1S2RxAlKJ85nOFU=s0-d-e1-ft#http://us.parkmobile.com/images/in.jpg"
						alt="linkedin"
				/></a>
				<a href="https://instagram.com/parkmobilellc" target="_blank"
					><img
						src="https://ci3.googleusercontent.com/proxy/mTZDK7X_yph_fpCPgqz6MEJFVGLRUMv09OnPHHRHqXOm8kHUdRrDhs-w3LIRu2C-AYGNkH6Ax3ECe4X9=s0-d-e1-ft#http://us.parkmobile.com/images/insta.jpg"
						alt="instagram"
				/></a>
			</center>
		</columns>
	</rows>
</container>
<container>
	<rows class="footer__address">
		<columns>
			<p>Parkmobile, LLC • 1100 Spring Street NW, Suite 200, Atlanta, GA 30309</p>
		</columns>
	</rows>
</container>
<container>
	<rows class="footer__logo">
        <columns>
            <center>
		<a href="https://parkmobile.us/" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/q_B2YjHYRaz_P6BQ4GjYkn4VJQsu9CAJn-KQ1I973nMXDK9-amk-cS53BRQJBpVetw1aiC3sC5xkY1pmnLVrIt4T=s0-d-e1-ft#http://us.parkmobile.com/images/footer_logo.jpg" alt="parkmobile mini logo"></a>
        </columns>
    </center>
	</rows>
</container>
